.mission {
  text-align: center;
  max-width: 1000px;
}

.mission h2 {
  font-size: 52px;
  margin-bottom: 40px;
}

.mission h2 span {
  color: #B81111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.box {
  border: 1px solid rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 12px;
  background: rgba(255,255,255,0.02);
  transition: 0.3s;
}

.box:hover {
  border-color: #B81111;
  transform: translateY(-6px);
}

.box h3 {
  color: #B81111;
  margin-bottom: 15px;
  font-size: 20px;
}

.box p {
  opacity: 0.75;
  line-height: 1.6;
}