.why {
  text-align: center;
  max-width: 1100px;
}

.why h2 {
  font-size: 52px;
  margin-bottom: 10px;
}

.why h2 span {
  color: #B81111;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.card {
  border: 1px solid rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 12px;
  background: rgba(255,255,255,0.02);
  transition: 0.3s;
  text-align: left;
}

.card:hover {
  border-color: #B81111;
  transform: translateY(-6px);
}

.card h3 {
  color: #B81111;
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  opacity: 0.75;
  font-size: 14px;
  line-height: 1.5;
}